.team {
  background-color: var(--color-light);
}

.team-item {
  background-color: var(--color-white);
}

.team-card {
  text-align: center;
}

.team-card .name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-dark);
}

.team-card .role {
  font-size: 16px;
  line-height: 1.5;
}
